<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
        <script src="https://kit.fontawesome.com/3888ffbbfa.js" crossorigin="anonymous"></script>
        <link rel="shortcut icon" href="images/favicon.svg">
        <link rel="stylesheet" href="css/styles.css">
        <title>Mercado Liebre / register</title>
    </head>
<body>
    <header class="header">
        <div class="home__header__imagen">
            <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre"></a>
        </div>
        <div class="home__header__div--lupa">
            <form action="">
                <div class="home__header__div__lupa">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="home__header__div--h3">
            <h3><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
        <nav class="home__header--nav">
            <ul class="home__header__nav--nav">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="home__header__nav--user">
                <li><a href="/register">Creá tu cuenta </a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="/login">Ingresá </a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <button class="header__hamburguer">
            <i class="fa-solid fa-bars"></i>
        </button>
    </header>

    <main class="register__main">
        <section class="register__main__section">
            <form action="">
                <div class="register__main__section__div--box">
                    <input type="text" placeholder="Nombre y apellido" minlength="2">
                    <input type="text" placeholder="Nombre de usuario" minlength="2">
                    <input type="email" placeholder="E-mail" minlength="2">
                </div>
                <div class="register__main__section__div--fecha">
                    <label for="">Fecha de nacimiento</label>
                    <input type="date" max="2005-12-31">
                </div>
                <div class="register__main__section__div--provincia">
                    <label for="">Provincia</label>
                    <select name="" id="">
                        <option value="buenosAires">Buenos Aires</option>
                        <option value="CABA">Ciudad Autónoma de Buenos Aires</option>
                        <option value="catamarca">Catamarca</option>
                        <option value="chaco">Chaco</option>
                        <option value="Chubut">Chubut</option>
                        <option value="Córdoba">Córdoba</option>
                        <option value="Corrientes">Corrientes</option>
                        <option value="Entre Ríos">Entre Ríos</option>
                        <option value="Formosa">Formosa</option>
                        <option value="Jujuy">Jujuy</option>
                        <option value="La Pampa">La Pampa</option>
                        <option value="La Rioja">La Rioja</option>
                        <option value="Mendoza">Mendoza</option>
                        <option value="Misiones">Misiones</option>
                        <option value="Neuquén">Neuquén</option>
                        <option value="Río Negro">Río Negro</option>
                        <option value="Salta">Salta</option>
                        <option value="San Juan">San Juan</option>
                        <option value="San Luis">San Luis</option>
                        <option value="Santa Cruz">Santa Cruz</option>
                        <option value="Santa Fe">Santa Fe</option>
                        <option value="Santiago del Estero">Santiago del Estero</option>
                        <option value="tierraFuego">Tierra del Fuego, Antártida e Islas del Atlántico Sur</option>
                        <option value="tucuman">Tucumán</option>
                    </select>
                </div>
                <div class="register__main__section__div--domicilio">
                    <input type="text" placeholder="Domicilio" minlength="2">
                </div>
                <div class="register__main__section__div--perfilUsuario">
                    <div class="register__main__section__div--perfilUsuario--label">
                        <label for="">Perfil del usuario:</label>
                    </div>
                    <input type="radio" name="perfilUsuario" value="" id="perfilUsuarioCom" checked>
                    <label for="perfilUsuarioCom">Comprador</label>
                    <input type="radio" name="perfilUsuario" value="" id="perfilUsuarioVend">
                    <label for="perfilUsuarioVend">Vendedor</label>
                </div>
                <div class="register__main__section__div--intereses">
                    <div class="register__main__section__div--intereses--label">
                        <label for="">Intereses:</label>
                    </div>
                    <div class="register__main__section__div--intereses--inputs">
                        <div class="register__main__section__div--intereses--inputs--pares">
                            <input type="checkbox" name="electro" value="" id="electro">
                            <label for="electro">Electro</label>
                        </div>
                        <div class="register__main__section__div--intereses--inputs--pares">
                            <input type="checkbox" name="moda" value="" id="moda">
                            <label for="moda">Moda</label>
                        </div>
                        <div class="register__main__section__div--intereses--inputs--pares">
                            <input type="checkbox" name="hogar" value="" id="hogar">
                            <label for="hogar">Hogar</label>
                        </div>
                        <div class="register__main__section__div--intereses--inputs--pares">
                            <input type="checkbox" name="jugueteria" value="" id="jugueteria">
                            <label for="jugueteria">Juguetería</label>
                        </div>
                        <div class="register__main__section__div--intereses--inputs--pares">
                            <input type="checkbox" name="vidaSana" value="" id="vidaSana">
                            <label for="vidaSana">Vida sana</label>
                        </div>
                    </div>
                </div>
                <div class="register__main__section__div--foto">
                    <label for="">Seleccionar imagen de perfil:</label>
                    <input type="file" name="avatar" accept=".jpg" multiple>
                </div>
                <div class="register__main__section__div--password">
                    <input type="password" placeholder="Contraseña" minlength="2">
                </div>
                <div class="register__main__section__div--repeatPassword">
                    <input type="password" placeholder="Confirmar contraseña" minlength="2">
                </div>
                <div class="register__main__section__div--botones">
                    <div class="register__main__section__div--botonEnviar">
                        <a href="/"><input type="button" value="Enviar"></a>
                    </div>
                    <div class="register__main__section__div--botonBorrar">
                        <a href="/"><input type="reset" value="Borrar"></a>
                    </div>
                </div>
                <div class="register__main__section__div--login">
                    <small>¿Estás registrado? <a href="/login">Ingresá</a></small>
                </div>
            </form>
        </section>
    </main>

    <footer class="footer">
        <section class="footer__section">
            <article class="footer__section__article">
                <div class="footer__section__article--div">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <h4 class="descripciones">Pagá con tarjeta o en efectivo</h4>
                <p class="cuerpo-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="footer__section__article">
                <div class="footer__section__article--div">
                    <i class="fa-solid fa-gift"></i>
                </div>
                <h4 class="descripciones">Envío gratis desde $ 2.500</h4>
                <p class="cuerpo-texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="footer__section__article">
                <div class="footer__section__article--div">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <h4 class="descripciones">Seguridad, de principio a fin</h4>
                <p class="cuerpo-texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
            <article class="footer__section__article--pie">
                <p class="cuerpo-texto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>