.footer{
    text-align: center;
    padding: 20px;
}

.footer__section__article{
    color: var(--colorGrisOscuro);
}

.footer__section__article--div{
    margin-top: 25px;
    color: var(--colorCeleste);
}

.footer__section__article--pie{
    color: var(--colorGrisOscuro);
}

/* medida para tablet */
@media (min-width: 361px) {

}

/* desktop */
@media (min-width: 769px){
    .footer__section{
        display: flex;
        align-content: center;
    }

    .footer__section i:hover{
        color: #0022AA;
    }

    .footer__section__article--pie{
        display: flex;
        align-items: flex-end;
    }

    .footer__section__article--pie p{
        flex-direction: column-reverse;
    }
}

