.header{
    background-color: var(--colorAmarillo);
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
}

.home__header__imagen{
    width: 50%;
}

.home__header__imagen img{
    width: 90%;
}

.home__header--nav{
    display: none;
}

.home__header__div--lupa{
    width: 50%;
    position: relative;
}

.home__header__div__lupa--box{
    position: relative;
}

.home__header__div--lupa input{
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    padding-right: 30px;
}

.home__header__div--lupa button{
    position: absolute;
    top: 5px;
    right: 0;
    border: none;
    background-color: white;
    color: var(--colorGrisOscuro);
}

.home__header__div--h3{
    text-align: center;
    width: 100%;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

a{
    text-decoration: none;
    color: black;
}

.header__hamburguer{
    background-color: var(--colorCeleste);
    color: var(--colorGrisClaro);
    border: none;
    margin: 0 auto;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
}

.home__header__section--banner img{
    width: 100vw;
}


/* tablet */
@media (min-width: 361px) {
    .header{
        align-items: center;
        display: flex;
    }

    .home__header__imagen{
        width: 33%;
    }

    .home__header__div--lupa{
        width: 33%;
    }

    .home__header__div--h3{
        width: 33%;
    }

    .header__hamburguer{
        display: none;
    }

    .home__header--nav{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .home__header__nav--nav li{
        width: 14%;
    }

    .home__header__nav--user{
        width: 14%;
    }

    .home__header__nav--nav, .home__header__nav--user{
        display: flex;
        gap: 30px;
    }
}

/* desktop */
@media (min-width: 769px) {
    .header{
        align-items: center;
    }

    .home__header__imagen{
        width: 33%;
    }

    .home__header__div--lupa{
        width: 33%;
    }

    .home__header__div--h3{
        width: 33%;
    }

    .header__hamburguer{
        display: none;
    }

    .home__header--nav{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .home__header__nav--nav li{
        width: 14%;
    }

    .home__header__nav--user{
        width: 14%;
    }

    .home__header__nav--nav, .home__header__nav--user{
        display: flex;
        gap: 30px;
    }
}

