.header{
    background-color: #EAC926;;
}

h2, h3, h4, p{
    font-family: 'Roboto', sans-serif;
}

.burger-menu{
    color: #1259c3;
}

.cuerpo-texto{
    font-size: 12px;
}

.titular{
    font-size: 24px;
}

.precios{
    font-size: 18px;
}

.descuentos{
    font-size: 16px;
}

.descripciones{
    font-size: 16px;
}