.login__main{
    background-color: var(--colorGrisClaro);
}
.form__box{
    margin-bottom: 10px;
    width: 100%;
    text-align: center; 
}

.form__box input{
    margin-top: 15px;
    padding: 8px;
    width: 70%;
    border: none;
    height: 40px;
    border-radius: 10px;
}

.form__div--button{
    text-align: center;
}

.form__div--button input{
    background-color: var(--colorCeleste);
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 8px;
    width: 70%;
    border: none;
    height: 40px;
    border-radius: 10px;
}

/* tablet */
@media (min-width: 361px){
    
}

/* desktop */
@media (min-width: 769px){
    .form__box input{
        width: 40%;
    }

    .form__div--button input{
        width: 40%;
    }
}