.home__main__section--banner{
    width: 100vw;
}

.main__section{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    background-color: var(--colorGrisClaro);
}

.main__section h2{
    width: 100%;
    margin: 20px;
    text-align: center;
    color: var(--colorGrisOscuro);
}

.main__section__article{
    margin: 10px;
    margin-top: 25px;
}

.main__section__article--img{
    width: 100%;
    margin-bottom: 0px;
}

.main__section__article--div{
    border-top: 1px solid var(--colorGrisClaro);
    padding: 15px;
    position: relative;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.precios{
    font-size: 18px;
    width: 30%;
}

.descuentos{
    font-size: 0.8rem;
    color: var(--colorVerde);
    width: 70%;
}


.main__section__article--div i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: var(--colorVerde);
    border: 1px solid var(--colorVerde);
}

.cuerpo-texto{
    font-size: 12px;
}

.titular{
    font-size: 24px;
}

.descripciones{
    font-size: 16px;
}

.main__section__article__div--h3{
    display: none;
}

/* tablet */
@media (min-width: 361px) {

    .main__section{
        justify-content: space-between;
    }

    .main__section__article__div--h3{
        display: block;
    }

    .main__section__article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 40%;
    }
}

/* desktop */
@media (min-width: 769px) {
    .main__section__article__div--h3{
        display: block;
    }

    .main__section__article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 22%;
    }
}